# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Datos grandes
*/data/raw/*.csv
*/data/Official data/*.csv
*/data/*.db
*/data/*.sqlite

# Logs y caches
*.log
*.tmp
*.cache
*.bak

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Ignorar todos los CSV grandes
*.csv

# Mantener solo archivos clean
!movielens_project/data/*.csv
!global_sales_project/data/processed/*.csv

# Ignorar archivos temporales de Python
__pycache__/
*.pyc

# Ignorar carpetas de IDEs
.vscode/
.idea/
# --------------------------


